html,
body {
  padding: 0;
  margin: 0;
  background: #eed593;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.static:active,
.static:active:after,
.static:active:before,
.static:focus,
.static:focus:after,
.static:focus:before,
.static:hover,
.static:hover:after,
.static:hover:before {
  transform: none;
}
