.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: "Old Standard TT", serif;
}

.image {
  max-width: 50vw;
  max-height: 50vh;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-family: "Old Standard TT", serif;
  color: rgb(15, 15, 0);
  font-size: 32px;
  width: 90vw;
}

.navButton {
  font-size: 30px;
  font-family: "Old Standard TT", serif;
  color: white;
}

.navButton::before {
  background: #f26a44;
}

.bigButton {
  font-size: 50px;
  font-family: "Old Standard TT", serif;
  color: white;
}

.bigButton::before {
  background: #f26a44;
}
