.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-family: "Old Standard TT", serif;
  color: rgb(15, 15, 0);
  font-size: 32px;
  width: 90vw;
}

.navButton {
  font-size: 30px;
  font-family: "Old Standard TT", serif;
  color: white;
}

.navButton::before {
  background: #f26a44;
}
